.heading {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

li a {
    color: blue;
    font-style: italic;
    font-size: 30px;
}

.picture {
    height: auto;
    width: 400px;
    align-self: center;        /* Center picture in the middle */ 
    display: block;
    margin-left: auto;
    margin-right: auto;
}                       
